<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="../static/parecer.css">
</head>

<body>
    <div class="imgHolder">
        <img src="../static/Logo.jpeg" style="max-height: 100px; margin-bottom: 10px;" alt="[Imagem de cabeçalho]">
    </div>

    <div class="studentinfo">
        <h4>Olá, <b>{{student}}!</b></h4>
        <h4><b>Semestre:</b> {{semester}}</h4>
        <h4><b>Turma:</b> {{level}}</h4>
        <h4><b>Teacher:</b> {{teacher}}</h4>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center;">
        <h4> Curioso para saber os seus resultados para este semestre? Aqui estão nossas considerações: </h4>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center;">
        <h3>Parecer Descritivo 1</h3>
    </div>

    <div class="main"> 
        <div class="table">
            <table class="maintable">
                <tr class="dark">
                    <th><span style="font-size: 12pt;">Skill</span><br/><span style="font-size: 8pt;">Habilidade</span></th>
                    <th><span style="font-size: 12pt;">Grade</span><br/><span style="font-size: 8pt;">Nota</span></th>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Listening</span><br/><span style="font-size: 8pt;">Compreensão Oral</span></td>
                    <td>{{listening}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 12pt;">Grammar</span><br/><span style="font-size: 8pt;">Uso Gramatical</span></td>
                    <td>{{grammar}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Reading</span><br/><span style="font-size: 8pt;">Compreensão Escrita</span></td>
                    <td>{{reading}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 12pt;">Writing</span><br/><span style="font-size: 8pt;">Produção Escrita</span></td>
                    <td>{{writing}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Speaking</span><br/><span style="font-size: 8pt;">Produção Oral</span></td>
                    <td>{{speaking}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 12pt;">Class Perfomance</span><br/><span style="font-size: 8pt;">Performance em Sala</span></td>
                    <td>{{classPerformance}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Attendance</span><br/><span style="font-size: 8pt;">Frequência</span></td>
                    <td>{{attendance}}%</td>
                </tr>
                <tr class="dark">
                    <td>Resultado do Parecer 1:</td>
                    <td>{{parecerGrade}}/100</td>
                </tr>
            </table>
        </div>

        <div class="comments">
            <p>Comentário do professor:</p>
            <p style="margin-top: 10px; margin-bottom: 10px;">{{comments}}</p>
        </div>
    </div>

    <hr>

    <div>
        <p>Em caso de dúvidas, entre em contato conosco através deste e-mail ou pelo telefone: [informações de contato].</p>
        <p>Atenciosamente,</p>
        <p><b>[Nome da escola]</b></p>
    </div>

</body>