<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="../static/parecer.css">
</head>

<body>
    <div class="header">
        <div class="imgHolder">
            <img src="../static/Logo.jpeg" style="max-height: 100px;" alt="[Imagem de cabeçalho]">
        </div>
        <div class="studentinfo">
            <div>
                <h4>Olá, <b>{{student}}!</b></h4>
                <h4><b>Turma:</b> {{level}}</h4>
            </div>
            <div>
                <h4><b>Semestre:</b> {{semester}}</h4>
                <h4><b>Professor:</b> {{teacher}}</h4>
            </div>
        </div>
        <h4> Curioso(a) para saber os seus resultados para este semestre? Aqui estão nossas considerações: </h4>
        <h3 style="margin: 10px; text-align: center; width: auto;">Parecer Descritivo 2</h3>
    </div>

    <div class="main"> 
        <div class="table">
            <table class="maintable">
                <tr class="dark">
                    <th class="narrow"><span style="font-size: 10pt;">Skill</span><br/><span style="font-size: 8pt;">Habilidade</span></th>
                    <th class="narrow"><span style="font-size: 10pt;">Grade</span><br/><span style="font-size: 8pt;">Nota</span></th>
                </tr>
                <tr>
                    <td><span style="font-size: 10pt;">Listening</span><br/><span style="font-size: 8pt;">Compreensão Oral</span></td>
                    <td style="font-size: 10pt;">{{listening}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 10pt;">Use of English</span><br/><span style="font-size: 8pt;">Uso Gramatical</span></td>
                    <td style="font-size: 10pt;">{{grammar}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 10pt;">Reading</span><br/><span style="font-size: 8pt;">Compreensão Escrita</span></td>
                    <td style="font-size: 10pt;">{{reading}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 10pt;">Writing</span><br/><span style="font-size: 8pt;">Produção Escrita</span></td>
                    <td style="font-size: 10pt;">{{writing}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 10pt;">Speaking</span><br/><span style="font-size: 8pt;">Produção Oral</span></td>
                    <td style="font-size: 10pt;">{{speaking}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 10pt;">Class Perfomance</span><br/><span style="font-size: 8pt;">Performance em Sala</span></td>
                    <td style="font-size: 10pt;">{{classPerformance}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 10pt;">Attendance</span><br/><span style="font-size: 8pt;">Frequência</span></td>
                    <td style="font-size: 10pt;">{{attendance}}%</td>
                </tr>
                <tr class="dark">
                    <td style="font-size: 10pt;">Resultado do Parecer 2:</td>
                    <td style="font-size: 10pt;">{{parecerGrade}}/10</td>
                </tr>
                <tr>
                    <td style="font-size: 12pt; font-weight: bold; padding-bottom: 2px;">Resultado Final:</td>
                    <td style="background-color: #FE3C00; font-size: 10pt; font-weight: bold; padding-bottom: 2px;">{{finalScore}}/10</td>
                </tr>
            </table>
            
        </div>

            <div class="comments">
                    <div>
                        {{gradeTable}}
                    </div>
                    
                </div>
            </div>
        </div>
        <img src="../static/Rodapé.png">
</body>