<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="../static/parecer.css">
</head>

<body>
    <div class="imgHolder">
        <img src="../static/Logo.jpeg" style="max-height: 100px; margin-bottom: 10px;" alt="[Imagem de cabeçalho]">
    </div>

    <div class="header">
        <div class="studentinfo">
            <h4>Olá, <b>{{student}}!</b></h4>
            <h4><b>Turma:</b> {{level}}</h4>
        </div>
        <div class="studentinfo">
            <h4><b>Semestre:</b> {{semester}}</h4>
            <h4><b>Professor:</b> {{teacher}}</h4>
        </div>
    </div>
        
    

    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
        <h4> Curioso(a) para saber os seus resultados para este semestre? Aqui estão nossas considerações: </h4>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center;">
        <h3 style="margin: 10px;">Parecer Descritivo 1</h3>
    </div>

    <div class="main"> 
        <div class="table">
            <table class="maintable">
                <tr class="dark">
                    <th><span style="font-size: 12pt;">Skill</span><br/><span style="font-size: 8pt;">Habilidade</span></th>
                    <th><span style="font-size: 12pt;">Grade</span><br/><span style="font-size: 8pt;">Nota</span></th>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Listening</span><br/><span style="font-size: 8pt;">Compreensão Oral</span></td>
                    <td>{{listening}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 12pt;">Grammar</span><br/><span style="font-size: 8pt;">Uso Gramatical</span></td>
                    <td>{{grammar}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Reading</span><br/><span style="font-size: 8pt;">Compreensão Escrita</span></td>
                    <td>{{reading}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 12pt;">Writing</span><br/><span style="font-size: 8pt;">Produção Escrita</span></td>
                    <td>{{writing}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Speaking</span><br/><span style="font-size: 8pt;">Produção Oral</span></td>
                    <td>{{speaking}}/10</td>
                </tr>
                <tr class="dark">
                    <td><span style="font-size: 12pt;">Class Perfomance</span><br/><span style="font-size: 8pt;">Performance em Sala</span></td>
                    <td>{{classPerformance}}/10</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12pt;">Attendance</span><br/><span style="font-size: 8pt;">Frequência</span></td>
                    <td>{{attendance}}%</td>
                </tr>
                <tr class="dark">
                    <td>Resultado do Parecer 1:</td>
                    <td style="background-color: #FE3C00;">{{parecerGrade}}/10</td>
                </tr>
            </table>
            {{gradeTable}}
        </div>

            <div class="comments">
                <div >
                    <p><b>Comentário do professor:</b></p>
                    <p style="margin-top: 10px;">{{comments}}</p>
                </div>
                <div>
                    <h3 style="margin-top: 5px; margin-bottom: 5px;">Mocks (Simulados) Opcionais:</h3>
                    {{mockTable}}
                    <table class="cefr">
                        <tr>
                            <td>CEFR:</td>
                            <td class="a1">A1</td>
                            <td class="a2">A2</td>
                            <td class="b1">B1</td>
                            <td class="b2">B2</td>
                            <td class="c1">C1</td>
                            <td class="c2">C2</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    <div class="footer">
        <img src="../static/Rodapé.png">
    </div>

</body>