<!DOCTYPE html>
<meta charset="UTF-8">
<center><img src="../Images/Parecer1Header.png" alt="[Imagem de cabeçalho]"></center>
<p>
</p>

<align="left">Olá, <b>{{student}}</b>!   |   <b>Turma:</b> {{level}}   |   <b>Teacher:</b> {{teacher}}</align>

<p>
</p>

Curioso para saber os seus resultados para este semestre? Aqui estão nossas considerações:

<p>
</p>

<center><b>Parecer Descritivo 1</b></center>
<p>
    
</p>
<justify><b>Grammar: {{grammar}} / 10</b>

<p>
</p>

{{grammarfeedback}}

<p>  
</p>

<b>Reading: {{reading}} / 10</b>

<p>
</p>
{{readingfeedback}}

<p> 
</p>

<b>Listening: {{listening}} / 10</b>

<p>
</p>

{{listeningfeedback}}

<p>
</p>

<b>Writing: {{writing}} / 10</b>

<p>  
</p>

{{writingfeedback}}

<p>   
</p>

<b>Speaking: {{speaking}} / 10</b>

<p>
</p>

{{speakingfeedback}}

<p> 
</p>

<b>Class Performance: {{classPerformance}} / 10</b>

<p>
</p>

{{globalperformancefeedback}}</justify>

<p>
</p>

<center><b>Comentário do professor:</b></center>

<p>
</p>

{{comments}}
<p>
<br>
</p>

<b>Resultado do Parecer 1: {{parecerGrade}}/100</b>

<p>
</p>

<left><img src="../Images/conceito.png" width="200" height="67" alt="[Tabela de conceitos]" ></left>
<p>
<hr>
</p>

Em caso de dúvidas, entre em contato conosco através deste e-mail ou pelo telefone: [informações de contato].
<p>
<br>
</p>

Atenciosamente,
<p>
<br>
</p>

<b>[Nome da escola]</b>
